<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated privacymodel -->
      <package
            uri="http://www.dataflowanalysis.org/privacymodel"
            class="org.dataflowanalysis.privacy.privacymodel.privacymodelPackage"
            genModel="model/privacymodel.genmodel"/>
   </extension>

</plugin>
