<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated consent_model -->
      <package
            uri="http://www.dataflowanalysis.org/consent_model"
            class="org.dataflowanalysis.privacy.consent_model.Consent_modelPackage"
            genModel="model/consent_model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated consent_model -->
      <package
            uri="http://www.mdsd.tools/modelingfoundations/identifier"
            class="identifier.IdentifierPackage"
            genModel="model/consent_model.genmodel"/>
   </extension>

</plugin>
